<%= form_with model: book, local: true do |form| %>
  
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :published_date, "Published Date (YYYY-MM-DD)" %>
    <div>
      <%= form.text_field :published_date, value: book.published_date&.strftime("%Y-%m-%d") || '' %>
    </div>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
  
<% end %>